@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

body, html {
  background: #EAEAEA;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-weight: 300;
  height: 100vh;
  margin:0;
  padding:0;
  color: #4D4D4D;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  font-size: 22px;
  color: #FFF;
  padding: 20px;
  margin: 0;
}

.not-found {
  color: #F46235;
}

.not-found a, .not-found a:hover, .not-found a:active, .not-found a:visited {
  text-decoration: none;
  color: #F46235
}

h2 {
  color: #414141;
  margin: 0 auto;
  font-size: 20px;
  padding: 30px 0;
  text-align: center;
  font-weight: 400;
}

.logo {
  background: #8DC8C9;
  margin: 0;
  padding: 0;
}

.question {
  color: #F46235;
}

.emphasis {
  color: #F46235;
  font-weight: 400;
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.headline {
  width: 100%;
  min-width: 100%;
  margin: 0;
  background-color: #FFF;
}

.main {
  box-sizing: border-box;
  background-color: #EAEAEA;
  margin: 0 auto;
  width: 100%;
  padding: 50px 10px;
  flex-direction: column;
  flex-grow: 1;
}

.main p:first-child {
  margin: 0 auto;
}

.main p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.form-container {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.address-form {
  display: block;
  width: 100%;
  margin: 40px auto 40px auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

.form-group {
  font-size: 14px;
}

.form-container input {
  margin: 5px;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border: 1px solid #AAA;
  border-radius: 2px;
  color: #4D4D4D;
}

::-webkit-input-placeholder {
  color: #868686;;
}

.form-container select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  background-image: url(http://i62.tinypic.com/15xvbd5.png);
  background-position: 90% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  font-size: inherit;
  overflow: hidden;
  padding: 10px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  margin: 5px;
  color: #4D4D4D;
}

.form-container select option:first-child {
  color: #868686;
}

.form-container select option {
  color: #4D4D4D;
}

.topic-label {
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
}

.form-row label {
  margin: 0 5px 0 0;
}

.form-container input[type=number] {
  width: auto;
  padding: 5px;
}

.form-container input[type=submit] {
  background-color: #F46235;
  color: #FFF;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.error {
  font-weight: 400;
  color: #b5270a;
}

.display {
  box-sizing: border-box;
  width: 90%;
  max-width: 920px;
  margin: 20px auto;
  padding: 30px;
  display: block;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #CDCDCD;
  box-shadow: 3px 3px #CDCDCD;
}

h3.congrats {
  text-align: center;
  padding-bottom: 0;
  color: #414141;
  margin: 0 auto;
  font-weight: 400;
}

.name {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  margin: 5px;
}

.price {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.name a, .name a:hover, .name a:active, .name a:visited {
  text-decoration: none;
  color: #F46235;
}

.categories {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  margin-top: 0 auto 30px auto;
}

p.address a, p.address a:hover, p.address a:active, p.address a:visited {
  text-decoration: none;
  color: #414141;
}

.categories li {
  color: #4D4D4D;
  margin: 0 20px;
  line-height: 1em;
}

.material-icons {
  color: #8DC8C9;
  line-height: 1em;
  vertical-align: middle;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
}

.left, .right {
  flex-grow: 1;
  width: 50%;
  padding: 10px;
}


.restaurant-photo {
  width: 100%;
  border-radius: 3px;
  min-height: 400px;
}

.map {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}




@media (max-width: 620px) {

  h2 {
    padding: 10px;
  }

  h3.congrats {
    font-size: 18px;
    margin-top: 20px;
  }

  .main {
    padding: 10px;
  }

  .address-form {
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .form-container input, .form-container select, .form-container button {
    width: 100%;
    margin: 5px auto;
    box-sizing: border-box;
  }

  .form-container select {
    background-position: 97% center;
  }

  .main p {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    display: block;
    font-size: 14px;
  }

  .display {
    width: 100%;
    padding: 5px;
  }

  .categories li {
    font-size: 14px;
    text-align: center;
  }

  .columns {
    display: block;
  }

  .left, .right {
    width: 100%;
    box-sizing: border-box;
    display: block;
  }

  .map {
    height: 400px;
  }
}

@media (max-width: 400px) {

  h1 {
    padding: 10px;
  }

  h2 {
    padding: 10px;
    font-size: 16px;
  }

  .main p {
    font-size: 13px;
  }

  p.address {
    font-size: 14px;
    padding-top: 0;
    margin-bottom: 20px;
  }

  h3.congrats {
    font-size: 16px;
  }

  .categories {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .categories li {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    margin: 0 auto;
  }

  .error {
    margin-top: 0;
  }

  .restaurant-photo {
    height: auto;
  }
}










